<style media="screen">

.jumbotron {
background-image: url("http://gotravelaz.com/wp-content/uploads/images/Monterrey.png");
background-size: cover;}

</style>
<div class="col-xs-10 col-xs-push-2">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-xs-10 col-xs-push-2">
          <h1 style="color:white;">Bienvenido</h1>
          <p class="lead" style="color:black;">Find me in app/views/welcome/index.html.erb</p>
        </div>
      </div>
    </div>
  </div>
</div>
