<style media="screen">
body {
    margin: 0;
}

#verticalNav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

#verticalNav ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

#verticalNav ul li a.active {
    background-color: #4CAF50;
    color: white;
}

#verticalNav ul li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

</style>
<div id="verticalNav">

  <ul>
    <br>
    <br>
    <li><a href="<%= root_path%>">Inicio</a></li>
    <li><a href="<%= locals_path %>">Locales</a></li>
    <li><a href="<%= servicios_turisticos_path %>">Servicios Turisticos</a></li>
    <li><a href="#ServiciosPublicos">Servicios Publicos</a></li>
  </ul>
</div>
