<style media="screen">
body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}

</style>

<ul>
  <li><a class="active" href="#Inicio">Inicio</a></li>
  <li><a href="#Comercios">Comercios</a></li>
  <li><a href="#ServiciosTuristicos">Servicios Turisticos</a></li>
  <li><a href="#ServiciosPublicos">Servicios Publicos</a></li>
</ul>
